@import 'styles/variables';

.sensor-card {
  cursor: pointer;
  background: whitesmoke;
  border-radius: 23px;
  padding: 4px;

  .layer {
    background: $theme-coral;
    color: $theme-deep-space-sparkle;
    padding: 4px 10px;
    border-radius: 20px;
    width: 100%;
    min-height: 30px;
  }
}

.selected {
  background: $theme-deep-space-sparkle;
}
