@import 'styles/variables';

.home-page {
  .card {
    border-radius: 23px;
    background: whitesmoke;
    width: auto;
    margin: 10vh 15vw 5vh;
    padding: 1vh;
  }

  #layered-background {
    border-radius: 20px;
    background: $theme-coral;
    padding: 5vh 5vw 5vh;
    color: $theme-platinum;
    fill: $theme-platinum;
    width: 100%;
    height: 65vh;
    overflow-y: auto;
  }
}
