@import 'styles/variables';
@import '~bulma/sass/utilities/functions';

// Neither color is used, but mixins for some reason they're required
$scheme-main: $theme-coral;
$scheme-invert: findColorInvert($scheme-main);

@import '~bulma/sass/utilities/mixins';

.login-page {
  .card {
    border-radius: 23px;
    background: whitesmoke;
    width: auto;
    padding: 1vh 1vh 1vh;

    @include until($tablet) {
      margin: 5vh 5vw;
    }

    @include desktop {
      margin: 10vh 25vw 5vh;
    }
  }

  #layered-background {
    border-radius: 20px;
    background: $theme-coral;
    padding: 5vh 15vw 5vh;
  }

  .error {
    text-align: center;
    color: $theme-isabelline;
  }
}
