@import 'styles/variables';
$scheme-invert: $theme-platinum;
$scheme-main: $theme-coral;

@import "~bulma/sass/utilities/mixins";

#layered-background {
  .sensor-list {
    h3 {
      margin-bottom: 2vh;
    }

    .container {
      height: 30vh;
      overflow-y: auto;
    }
  }

  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;

    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}
