@import '../../../../styles/variables';

.legend-card {
  width: 50%;
  border-radius: 20px;
  padding: 2px 15px;
  background: $theme-silver;
  color: $theme-deep-space-sparkle;

  .icon {
    margin-right: 2px;
  }
}
