@charset "utf-8";
@import 'variables';

html {
  overflow-y: hidden !important;
}

#root {
  background-color: $theme-platinum;
  min-height: 100vh;
}

$label-color: $theme-deep-space-sparkle;

// Importing all of Bulma
@import '~bulma/bulma.sass';
