[Unit]
Description=ZWave Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/bin/bash /usr/bin/z-wave_3.sh

[Install]
WantedBy=multi-user.target